* {
    box-sizing: border-box;
}

body {
    background-color: #353535 ;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    width: 400px;
    height: 120px;
    border-radius: 15px;
    border-bottom: 5px solid #CCC5B9;
}

.information-container {
    margin: auto;
    text-align: justify;
    width: 400px;
    height: 120px;
    padding: 10px;
    margin-top: 50px;
    padding-bottom: 20px;
    color: #FFFFFF;
    background-color: #8338ec;
    border-radius: 15px;
    border-bottom: 5px solid #b78df1;
}

button {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: red;
    border-radius: 15px;
    height: 30px;
}

input {
    height: 30px;
    border-radius: 15px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}